.knob {
	width: 200px;
	height: 200px;


}

.knob-container {

	width: 100%;
	height: 100%;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

.knob-dial {

	width: 70%;
	height: 70%;

	border: 1px solid black;
	border-radius: 1000px;

	background: white;

	text-align: center;

	position: relative;
}

.knob-dial-mark {

	position: relative;

	display: inline-block;

	width: 4%;
	height: 100%;
}

.knob-dial-mark-fill {

	background: red;

	position: absolute;
	top: -4;
	left: 0;
	right: 0;
	bottom: 70%;
}


.knob-scale {

	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.knob-scale-tick {

	position: absolute;

	top: 0;
	width: 1%;
	left: 49.5%;

	height: 100%;
}

.knob-scale-tick-fill {

	background: grey;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 90%;
}

